@font-face {
  font-family: "Myriad Pro";
  src: url(../../fonts/MyriadPro/MyriadPro-Regular.otf);
}

@font-face {
  font-family: "Myriad Pro Bold";
  src: url(../../fonts/MyriadPro/MyriadPro-Bold.otf);
}

@media (min-width: 700px) and (max-width: 1200px) {
  .container {
    width: 682px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .container {
    width: 1178px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1410px;
  }
}

.___col-common,
.navigation__burger,
.navigation-left,
.navigation-right,
.page__top,
.top__text-welcome,
.top__text-tothegorgeous,
.top__text-sedona,
.top__text-because,
.top__mini-triangle-wrapper,
.feature__block,
.feature__block__number,
.feature__block--reverse > .feature__block,
.feature__block--reverse > .feature-photo,
.feature-photo,
.feature-photo__photo,
.feature-description__sm-wrapper,
.feature-description,
.footer__map,
.footer__about__hashtag,
.footer__about__social,
.footer__madeby-wrapper,
.triangle-wrapper,
.footer__form-search,
.form-search__input-header,
.form-search__people-block,
.form-search__people-block:nth-child(2) .form-search__people-block__header,
.form-search__people-block:nth-child(2) .form-search__people-block__button-counter,
.form-search__people-block:nth-child(2),
.form-search__people-block__header,
.form-search__people-block__button-counter {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

body {
  text-transform: uppercase;
}

.container-fluid {
  background: #ffffff;
}

@media (min-width: 1440px) {
  .my-container {
    margin-left: auto;
    margin-right: auto;
    width: 1410px;
    background: #ffffff;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
}

.navigation {
  height: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation a {
  color: #000000;
  font-family: "MyriadPro-Bold", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.navigation__logo {
  position: absolute;
  left: -webkit-calc(50% - 68px);
  left: calc(50% - 68px);
  width: 137px;
  height: 71px;
  background: url(../../img/logo-sedona@1x.png) no-repeat top center, url(../../img/form-logo-triangle.svg) no-repeat top center;
}

@media (max-width: 700px) {
  .navigation__burger {
    height: 23px;
    background: url(../../img/icon-menu.svg) no-repeat center center;
    -webkit-flex-basis: 8.33333333%;
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
    margin-left: 83.33333333%;
  }
}

.navigation-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-basis: 33.33333333%;
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
  margin-left: 4.16666667%;
}

@media (max-width: 700px) {
  .navigation-left {
    display: none !important;
  }
}

.navigation-left a {
  margin-right: 10%;
}

.navigation-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-basis: 37.5%;
  -ms-flex-preferred-size: 37.5%;
  flex-basis: 37.5%;
  max-width: 37.5%;
  margin-left: 20.83333333%;
}

@media (max-width: 700px) {
  .navigation-right {
    display: none !important;
  }
}

.navigation-right a {
  margin-left: 38px;
}

.page__top {
  height: 600px;
  background: url(../../img/photo-background@1x.jpg) no-repeat center center;
  background-size: cover;
  padding: 1px;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.top__text-welcome {
  margin-top: 63px;
  height: 45px;
  background: url(../../img/text-welcome.svg) no-repeat center center;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.top__text-tothegorgeous {
  margin-top: 23px;
  height: 29px;
  background: url(../../img/text-tothegorgeous.svg) no-repeat center center;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.top__text-sedona {
  margin-top: 90px;
  height: 80px;
  background: url(../../img/text-sedona.svg) no-repeat center center;
  background-size: contain;
  -webkit-flex-basis: 83.33333333%;
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
  margin-left: 8.33333333%;
}

.top__text-because {
  margin-top: 63px;
  height: 79px;
  background: url(../../img/text-becausecanyon.svg) no-repeat center center;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.top__mini-triangle-wrapper {
  position: relative;
  top: 65px;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

@media (max-width: 700px) {
  .top__mini-triangle-wrapper {
    display: none !important;
  }
}

.top__mini-triangle {
  position: absolute;
  left: 20%;
  z-index: 2;
  border-right: 30vw solid white;
  border-top: 65px solid transparent;
  border-left: 30vw solid white;
}

@media (min-width: 1440px) {
  .top__mini-triangle {
    border-right: 480px solid white;
    border-top: 65px solid transparent;
    border-left: 360px solid white;
  }
}

.page__about {
  margin-top: 70px;
}

.page__about__header--wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.page__about__header {
  font: bold 18px "MyriadPro-Bold", sans-serif;
  width: 310px;
  text-align: center;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .page__about__header {
    width: 600px;
    font-size: 21px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .page__about__header {
    width: 600px;
    font-size: 21px;
  }
}

@media (min-width: 1440px) {
  .page__about__header {
    width: 600px;
    font-size: 21px;
  }
}

.page__about__text {
  font: 14px "MyriadPro-Regular", sans-serif;
  margin-top: 43px;
  margin-bottom: 200px;
  width: 310px;
  text-align: center;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .page__about__text {
    margin-bottom: 56px;
    width: 600px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .page__about__text {
    margin-bottom: 56px;
    width: 600px;
  }
}

@media (min-width: 1440px) {
  .page__about__text {
    margin-bottom: 56px;
    width: 600px;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .page__features {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .page__features {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (min-width: 1440px) {
  .page__features {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.feature__block {
  padding: 1px;
  background: #81b3d2;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .feature__block {
    -webkit-flex-basis: 33.333333%;
    -ms-flex-preferred-size: 33.333333%;
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .feature__block {
    -webkit-flex-basis: 33.333333%;
    -ms-flex-preferred-size: 33.333333%;
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 1440px) {
  .feature__block {
    -webkit-flex-basis: 33.333333%;
    -ms-flex-preferred-size: 33.333333%;
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .feature__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 272px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .feature__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 272px;
  }
}

@media (min-width: 1440px) {
  .feature__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 272px;
  }
}

.feature__block__header {
  font: bold 21px "MyriadPro-Bold", sans-serif;
  margin-top: 60px;
  text-align: center;
  color: white;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .feature__block__header {
    width: 172px;
    text-align: center;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .feature__block__header {
    width: 172px;
    text-align: center;
  }
}

@media (min-width: 1440px) {
  .feature__block__header {
    width: 172px;
    text-align: center;
  }
}

.feature__block__number {
  font: 21px "MyriadPro-Regular", sans-serif;
  margin-top: 20px;
  text-align: center;
  color: white;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .feature__block__number {
    -webkit-flex-basis: 100.000000%;
    -ms-flex-preferred-size: 100.000000%;
    flex-basis: 100.000000%;
    max-width: 100.000000%;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .feature__block__number {
    -webkit-flex-basis: 100.000000%;
    -ms-flex-preferred-size: 100.000000%;
    flex-basis: 100.000000%;
    max-width: 100.000000%;
  }
}

@media (min-width: 1440px) {
  .feature__block__number {
    -webkit-flex-basis: 100.000000%;
    -ms-flex-preferred-size: 100.000000%;
    flex-basis: 100.000000%;
    max-width: 100.000000%;
  }
}

.feature__block__text {
  font: 21px "MyriadPro-Regular", sans-serif;
  margin-top: 25px;
  margin-bottom: 45px;
  width: 330px;
  text-align: center;
  color: white;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .feature__block__text {
    width: 190px;
    font-size: 14px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .feature__block__text {
    width: 190px;
    font-size: 14px;
  }
}

@media (min-width: 1440px) {
  .feature__block__text {
    width: 190px;
    font-size: 14px;
  }
}

.feature__block--blue {
  background: #81b3d2;
}

.feature__block--gray {
  background: #eeeeee;
}

.feature__block--gray div {
  color: black;
}

@media (max-width: 700px) {
  .feature-blue--first {
    margin-top: -145px;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .feature-blue--first {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .feature-blue--first {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
}

@media (min-width: 1440px) {
  .feature-blue--first {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .feature__block--reverse {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}

@media (min-width: 700px) and (max-width: 1200px) and (min-width: 700px) and (max-width: 1200px) {
  .feature__block--reverse > .feature__block {
    -webkit-flex-basis: 33.333333%;
    -ms-flex-preferred-size: 33.333333%;
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 700px) and (max-width: 1200px) and (min-width: 700px) and (max-width: 1200px) {
  .feature__block--reverse > .feature-photo {
    -webkit-flex-basis: 66.666667%;
    -ms-flex-preferred-size: 66.666667%;
    flex-basis: 66.666667%;
    max-width: 66.666667%;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .feature__block--reverse {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) and (min-width: 1200px) and (max-width: 1440px) {
  .feature__block--reverse > .feature__block {
    -webkit-flex-basis: 33.333333%;
    -ms-flex-preferred-size: 33.333333%;
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) and (min-width: 1200px) and (max-width: 1440px) {
  .feature__block--reverse > .feature-photo {
    -webkit-flex-basis: 66.666667%;
    -ms-flex-preferred-size: 66.666667%;
    flex-basis: 66.666667%;
    max-width: 66.666667%;
  }
}

@media (min-width: 1440px) {
  .feature__block--reverse {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}

@media (min-width: 1440px) and (min-width: 1440px) {
  .feature__block--reverse > .feature__block {
    -webkit-flex-basis: 33.333333%;
    -ms-flex-preferred-size: 33.333333%;
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 1440px) and (min-width: 1440px) {
  .feature__block--reverse > .feature-photo {
    -webkit-flex-basis: 66.666667%;
    -ms-flex-preferred-size: 66.666667%;
    flex-basis: 66.666667%;
    max-width: 66.666667%;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .feature-photo {
    -webkit-flex-basis: 66.666667%;
    -ms-flex-preferred-size: 66.666667%;
    flex-basis: 66.666667%;
    max-width: 66.666667%;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .feature-photo {
    -webkit-flex-basis: 66.666667%;
    -ms-flex-preferred-size: 66.666667%;
    flex-basis: 66.666667%;
    max-width: 66.666667%;
  }
}

@media (min-width: 1440px) {
  .feature-photo {
    -webkit-flex-basis: 66.666667%;
    -ms-flex-preferred-size: 66.666667%;
    flex-basis: 66.666667%;
    max-width: 66.666667%;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .feature-photo {
    height: 272px;
    overflow: hidden;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .feature-photo {
    height: 272px;
    overflow: hidden;
  }
}

@media (min-width: 1440px) {
  .feature-photo {
    height: 272px;
    overflow: hidden;
  }
}

.feature-photo__photo {
  height: auto;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .feature-photo__photo {
    min-height: 272px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .feature-photo__photo {
    min-height: 272px;
  }
}

@media (min-width: 1440px) {
  .feature-photo__photo {
    min-height: 272px;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .feature-description__sm-wrapper {
    -webkit-flex-basis: 100.000000%;
    -ms-flex-preferred-size: 100.000000%;
    flex-basis: 100.000000%;
    max-width: 100.000000%;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .feature-description__sm-wrapper {
    -webkit-flex-basis: 100.000000%;
    -ms-flex-preferred-size: 100.000000%;
    flex-basis: 100.000000%;
    max-width: 100.000000%;
  }
}

@media (min-width: 1440px) {
  .feature-description__sm-wrapper {
    -webkit-flex-basis: 100.000000%;
    -ms-flex-preferred-size: 100.000000%;
    flex-basis: 100.000000%;
    max-width: 100.000000%;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .feature-description__sm-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .feature-description__sm-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

@media (min-width: 1440px) {
  .feature-description__sm-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

.feature-description {
  position: relative;
  margin-top: 45px;
  -webkit-flex-basis: 83.33333333%;
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
  margin-left: 16.66666667%;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .feature-description {
    margin-left: 0%;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .feature-description {
    margin-left: 0%;
  }
}

@media (min-width: 1440px) {
  .feature-description {
    margin-left: 0%;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .feature-description {
    margin-top: 166px;
    max-width: 180px;
    text-align: center;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .feature-description {
    margin-top: 166px;
    max-width: 180px;
    text-align: center;
  }
}

@media (min-width: 1440px) {
  .feature-description {
    margin-top: 166px;
    max-width: 180px;
    text-align: center;
  }
}

.feature-description--hotel::after {
  position: absolute;
  top: -10px;
  left: -50px;
  width: 38px;
  height: 36px;
  background: url(../../img/icon-house.svg) no-repeat center center;
  background-size: contain;
  content: "";
}

@media (min-width: 700px) and (max-width: 1200px) {
  .feature-description--hotel::after {
    top: -110px;
    left: 50px;
    width: 80px;
    height: 70px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .feature-description--hotel::after {
    top: -110px;
    left: 50px;
    width: 80px;
    height: 70px;
  }
}

@media (min-width: 1440px) {
  .feature-description--hotel::after {
    top: -110px;
    left: 50px;
    width: 80px;
    height: 70px;
  }
}

.feature-description--souvenir::after {
  position: absolute;
  top: -10px;
  left: -50px;
  width: 38px;
  height: 36px;
  background: url(../../img/icon-gift.svg) no-repeat center center;
  background-size: contain;
  content: "";
}

@media (min-width: 700px) and (max-width: 1200px) {
  .feature-description--souvenir::after {
    top: -110px;
    left: 50px;
    width: 80px;
    height: 70px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .feature-description--souvenir::after {
    top: -110px;
    left: 50px;
    width: 80px;
    height: 70px;
  }
}

@media (min-width: 1440px) {
  .feature-description--souvenir::after {
    top: -110px;
    left: 50px;
    width: 80px;
    height: 70px;
  }
}

.feature-description--food::after {
  position: absolute;
  top: -10px;
  left: -50px;
  width: 38px;
  height: 36px;
  background: url(../../img/icon-burger.png) no-repeat center center;
  background-size: contain;
  content: "";
}

@media (min-width: 700px) and (max-width: 1200px) {
  .feature-description--food::after {
    top: -110px;
    left: 50px;
    width: 80px;
    height: 70px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .feature-description--food::after {
    top: -110px;
    left: 50px;
    width: 80px;
    height: 70px;
  }
}

@media (min-width: 1440px) {
  .feature-description--food::after {
    top: -110px;
    left: 50px;
    width: 80px;
    height: 70px;
  }
}

.feature-description__header {
  font: bold 18px "MyriadPro-Bold", sans-serif;
}

.feature-description__text {
  font: 14px "MyriadPro-Regular", sans-serif;
  margin-top: 27px;
  margin-bottom: 35px;
  width: 250px;
}

.feature-gray__separator {
  position: relative;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .feature-gray__separator {
    display: none !important;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .feature-gray__separator {
    display: none !important;
  }
}

@media (min-width: 1440px) {
  .feature-gray__separator {
    display: none !important;
  }
}

.feature-gray__separator::after {
  position: absolute;
  left: 10%;
  width: 80%;
  height: 2px;
  background: #d6d6d6;
  content: "";
}

.page__footer {
  position: relative;
  margin-top: 34px;
}

.footer__interested__header {
  font: bold 21px "MyriadPro-Bold", sans-serif;
  text-align: center;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .footer__interested__header {
    font-size: 30px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .footer__interested__header {
    font-size: 30px;
  }
}

@media (min-width: 1440px) {
  .footer__interested__header {
    font-size: 30px;
  }
}

.footer__interested__text {
  margin-top: 32px;
  width: 290px;
  text-align: center;
  font-family: "MyriadPro-Regular", sans-serif;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .footer__interested__text {
    width: 450px;
    font-size: 14px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .footer__interested__text {
    width: 450px;
    font-size: 14px;
  }
}

@media (min-width: 1440px) {
  .footer__interested__text {
    width: 450px;
    font-size: 14px;
  }
}

.footer__map {
  height: 600px;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .footer__map {
    height: 800px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .footer__map {
    height: 800px;
  }
}

@media (min-width: 1440px) {
  .footer__map {
    height: 800px;
  }
}

.footer__about {
  position: absolute;
  bottom: 0px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.8);
}

@media (max-width: 700px) {
  .footer__about {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .footer__about {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .footer__about {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
  }
}

@media (min-width: 1440px) {
  .footer__about {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
  }
}

.footer__about__hashtag {
  font: bold 21px "MyriadPro-Bold", sans-serif;
  margin-top: 32px;
  text-align: center;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .footer__about__hashtag {
    -webkit-flex-basis: 33.333333%;
    -ms-flex-preferred-size: 33.333333%;
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .footer__about__hashtag {
    -webkit-flex-basis: 33.333333%;
    -ms-flex-preferred-size: 33.333333%;
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 1440px) {
  .footer__about__hashtag {
    -webkit-flex-basis: 33.333333%;
    -ms-flex-preferred-size: 33.333333%;
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .footer__about__hashtag {
    position: relative;
    top: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .footer__about__hashtag {
    position: relative;
    top: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 1440px) {
  .footer__about__hashtag {
    position: relative;
    top: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.footer__about__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .footer__about__social {
    -webkit-flex-basis: 33.333333%;
    -ms-flex-preferred-size: 33.333333%;
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .footer__about__social {
    -webkit-flex-basis: 33.333333%;
    -ms-flex-preferred-size: 33.333333%;
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 1440px) {
  .footer__about__social {
    -webkit-flex-basis: 33.333333%;
    -ms-flex-preferred-size: 33.333333%;
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .footer__about__social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .footer__about__social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 1440px) {
  .footer__about__social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.footer__about__social__button {
  margin-top: 43px;
  margin-left: 6px;
  padding: 45px;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .footer__about__social__button {
    padding: 30px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .footer__about__social__button {
    padding: 30px;
  }
}

@media (min-width: 1440px) {
  .footer__about__social__button {
    padding: 30px;
  }
}

.footer__madeby-wrapper {
  margin-top: 52px;
  margin-bottom: 35px;
  -webkit-flex-basis: 95.83333333%;
  -ms-flex-preferred-size: 95.83333333%;
  flex-basis: 95.83333333%;
  max-width: 95.83333333%;
  margin-left: 4.16666667%;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .footer__madeby-wrapper {
    -webkit-flex-basis: 33.333333%;
    -ms-flex-preferred-size: 33.333333%;
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .footer__madeby-wrapper {
    margin-left: 0%;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .footer__madeby-wrapper {
    -webkit-flex-basis: 33.333333%;
    -ms-flex-preferred-size: 33.333333%;
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .footer__madeby-wrapper {
    margin-left: 0%;
  }
}

@media (min-width: 1440px) {
  .footer__madeby-wrapper {
    -webkit-flex-basis: 33.333333%;
    -ms-flex-preferred-size: 33.333333%;
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 1440px) {
  .footer__madeby-wrapper {
    margin-left: 0%;
  }
}

@media (max-width: 700px) {
  .footer__madeby-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .footer__madeby-wrapper {
    position: relative;
    top: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .footer__madeby-wrapper {
    position: relative;
    top: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 1440px) {
  .footer__madeby-wrapper {
    position: relative;
    top: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.footer__about__madeby {
  font: 21px "MyriadPro-Regular", sans-serif;
}

.footer__about__madeby img {
  margin: -14px 14px;
  width: 36px;
  height: auto;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .footer__about__madeby img {
    margin: -14px 5px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .footer__about__madeby img {
    margin: -14px 5px;
  }
}

@media (min-width: 1440px) {
  .footer__about__madeby img {
    margin: -14px 5px;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .footer__about__madeby {
    font-size: 14px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .footer__about__madeby {
    font-size: 14px;
  }
}

@media (min-width: 1440px) {
  .footer__about__madeby {
    font-size: 14px;
  }
}

.social__twitter {
  background: url(../../img/icon-twitter.svg) no-repeat center center, #81b3d2;
  background-size: 40px;
}

.social__facebook {
  background: url(../../img/icon-facebook.svg) no-repeat center center, #81b3d2;
  background-size: 15px;
}

.social__youtube {
  background: url(../../img/icon-youtube.svg) no-repeat center center, #81b3d2;
  background-size: 40px;
}

.wrapper-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wrapper-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .wrapper-center-sm {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .wrapper-center-sm {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 1440px) {
  .wrapper-center-sm {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.triangle-wrapper {
  position: relative;
  top: -145px;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.triangle {
  position: absolute;
  z-index: 2;
  border-right: 50vw solid white;
  border-top: 75px solid transparent;
  border-left: 50vw solid white;
}

@media (min-width: 1440px) {
  .triangle {
    border-right: 720px solid white;
    border-top: 75px solid transparent;
    border-left: 690px solid white;
  }
}

.triangle--transparent {
  border-right: 50vw solid rgba(255, 255, 255, 0);
  border-bottom: 0px solid transparent;
  border-top: 25px solid white;
  border-left: 50vw solid rgba(255, 255, 255, 0);
}

@media (min-width: 1440px) {
  .triangle--transparent {
    border-right: 720px solid white;
    border-top: 75px solid transparent;
    border-left: 720px solid white;
    background: red;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .triangle--hidden-sm {
    display: none !important;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .triangle--hidden-sm {
    display: none !important;
  }
}

@media (min-width: 1440px) {
  .triangle--hidden-sm {
    display: none !important;
  }
}

.linethrough-white {
  margin-bottom: 28px;
  margin-bottom: 2rem;
  overflow: hidden;
}

.linethrough-white:before,
.linethrough-white:after {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  width: 12.25px;
  width: 0.875rem;
  height: 0.875px;
  height: 0.0625rem;
  background: #ffffff;
  content: "";
}

.linethrough-white:before {
  right: 0.5em;
  margin-left: -50%;
}

.linethrough-white:after {
  left: 0.5em;
  margin-right: -50%;
}

.linethrough-black {
  margin-bottom: 28px;
  margin-bottom: 2rem;
  overflow: hidden;
}

.linethrough-black:before,
.linethrough-black:after {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  width: 12.25px;
  width: 0.875rem;
  height: 0.875px;
  height: 0.0625rem;
  background: #000000;
  content: "";
}

.linethrough-black:before {
  right: 0.5em;
  margin-left: -50%;
}

.linethrough-black:after {
  left: 0.5em;
  margin-right: -50%;
}

.footer__form-search {
  position: relative;
  margin-top: 34px;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .footer__form-search {
    -webkit-flex-basis: 75.000000%;
    -ms-flex-preferred-size: 75.000000%;
    flex-basis: 75.000000%;
    max-width: 75.000000%;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .footer__form-search {
    margin-left: 12.500000%;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .footer__form-search {
    -webkit-flex-basis: 58.333333%;
    -ms-flex-preferred-size: 58.333333%;
    flex-basis: 58.333333%;
    max-width: 58.333333%;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .footer__form-search {
    margin-left: 20.833333%;
  }
}

@media (min-width: 1440px) {
  .footer__form-search {
    -webkit-flex-basis: 58.333333%;
    -ms-flex-preferred-size: 58.333333%;
    flex-basis: 58.333333%;
    max-width: 58.333333%;
  }
}

@media (min-width: 1440px) {
  .footer__form-search {
    margin-left: 20.833333%;
  }
}

.form-search__header {
  text-align: center;
  background: #766357;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .form-search__main {
    position: absolute;
    background: #ffffff;
    z-index: 2;
    width: 100%;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .form-search__main {
    position: absolute;
    background: #ffffff;
    z-index: 2;
    width: 100%;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 1440px) {
  .form-search__main {
    position: absolute;
    background: #ffffff;
    z-index: 2;
    width: 100%;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
}

.form-search__date-block {
  position: relative;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .form-search__date-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    width: 525px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .form-search__date-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    width: 625px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 1440px) {
  .form-search__date-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    width: 625px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.form-search__date-block::after {
  position: absolute;
  top: 40px;
  right: 8%;
  width: 20px;
  height: 22px;
  background: url(../../img/icon-calendar.svg) no-repeat center center;
  content: "";
}

@media (min-width: 1440px) {
  .form-search__date-block::after {
    right: 12%;
  }
}

.form-search__header__text {
  display: inline-block;
  padding: 35px 0;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.form-search__input-header {
  position: relative;
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-flex-basis: 83.33333333%;
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
  margin-left: 8.33333333%;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .form-search__input-header {
    -webkit-flex-basis: 25.000000%;
    -ms-flex-preferred-size: 25.000000%;
    flex-basis: 25.000000%;
    max-width: 25.000000%;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .form-search__input-header {
    margin-left: 0%;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .form-search__input-header {
    -webkit-flex-basis: 20.833333%;
    -ms-flex-preferred-size: 20.833333%;
    flex-basis: 20.833333%;
    max-width: 20.833333%;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .form-search__input-header {
    margin-left: 0%;
  }
}

@media (min-width: 1440px) {
  .form-search__input-header {
    -webkit-flex-basis: 20.833333%;
    -ms-flex-preferred-size: 20.833333%;
    flex-basis: 20.833333%;
    max-width: 20.833333%;
  }
}

@media (min-width: 1440px) {
  .form-search__input-header {
    margin-left: 0%;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .form-search__input-header {
    margin-top: 15px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .form-search__input-header {
    margin-top: 15px;
  }
}

@media (min-width: 1440px) {
  .form-search__input-header {
    margin-top: 15px;
  }
}

.form-search__input {
  height: 38px;
  width: 87.5%;
  padding-left: 4.16666667%;
  font-weight: bold;
  text-transform: uppercase;
  border: 0;
  background: #f2f2f2;
  margin-left: 4.16666667%;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .form-search__input {
    margin-left: 0%;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .form-search__input {
    margin-left: 0%;
  }
}

@media (min-width: 1440px) {
  .form-search__input {
    margin-left: 0%;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .form-search__input {
    width: 330px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .form-search__input {
    width: 355px;
  }
}

@media (min-width: 1440px) {
  .form-search__input {
    width: 355px;
  }
}

.form-search__people {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.form-search__people-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .form-search__people-block {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .form-search__people-block {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
}

@media (min-width: 1440px) {
  .form-search__people-block {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .form-search__people-block {
    width: 262px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .form-search__people-block {
    width: 275px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 1440px) {
  .form-search__people-block {
    width: 275px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.form-search__people-block:nth-child(2) {
  margin-left: 4.16666667%;
  -webkit-flex-basis: 41.66666667%;
  -ms-flex-preferred-size: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
  margin-left: 4.16666667%;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .form-search__people-block:nth-child(2) {
    margin-left: 0%;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .form-search__people-block:nth-child(2) {
    margin-left: 0%;
  }
}

@media (min-width: 1440px) {
  .form-search__people-block:nth-child(2) {
    margin-left: 0%;
  }
}

.form-search__people-block:nth-child(2) .form-search__people-block__header {
  -webkit-flex-basis: 58.33333333%;
  -ms-flex-preferred-size: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
  margin-left: 16.66666667%;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .form-search__people-block:nth-child(2) .form-search__people-block__header {
    -webkit-flex-basis: 16.666667%;
    -ms-flex-preferred-size: 16.666667%;
    flex-basis: 16.666667%;
    max-width: 16.666667%;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .form-search__people-block:nth-child(2) .form-search__people-block__header {
    margin-left: 8.333333%;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .form-search__people-block:nth-child(2) .form-search__people-block__header {
    -webkit-flex-basis: 16.666667%;
    -ms-flex-preferred-size: 16.666667%;
    flex-basis: 16.666667%;
    max-width: 16.666667%;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .form-search__people-block:nth-child(2) .form-search__people-block__header {
    margin-left: 8.333333%;
  }
}

@media (min-width: 1440px) {
  .form-search__people-block:nth-child(2) .form-search__people-block__header {
    -webkit-flex-basis: 16.666667%;
    -ms-flex-preferred-size: 16.666667%;
    flex-basis: 16.666667%;
    max-width: 16.666667%;
  }
}

@media (min-width: 1440px) {
  .form-search__people-block:nth-child(2) .form-search__people-block__header {
    margin-left: 8.333333%;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .form-search__people-block:nth-child(2) .form-search__people-block__header {
    position: relative;
    left: -30px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .form-search__people-block:nth-child(2) .form-search__people-block__header {
    position: relative;
    left: -30px;
  }
}

@media (min-width: 1440px) {
  .form-search__people-block:nth-child(2) .form-search__people-block__header {
    position: relative;
    left: -30px;
  }
}

.form-search__people-block:nth-child(2) .form-search__people-block__button-counter {
  -webkit-flex-basis: 29.16666667%;
  -ms-flex-preferred-size: 29.16666667%;
  flex-basis: 29.16666667%;
  max-width: 29.16666667%;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .form-search__people-block:nth-child(2) .form-search__people-block__button-counter {
    -webkit-flex-basis: 12.500000%;
    -ms-flex-preferred-size: 12.500000%;
    flex-basis: 12.500000%;
    max-width: 12.500000%;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .form-search__people-block:nth-child(2) .form-search__people-block__button-counter {
    -webkit-flex-basis: 12.500000%;
    -ms-flex-preferred-size: 12.500000%;
    flex-basis: 12.500000%;
    max-width: 12.500000%;
  }
}

@media (min-width: 1440px) {
  .form-search__people-block:nth-child(2) .form-search__people-block__button-counter {
    -webkit-flex-basis: 12.500000%;
    -ms-flex-preferred-size: 12.500000%;
    flex-basis: 12.500000%;
    max-width: 12.500000%;
  }
}

.form-search__people-block:nth-child(2) .form-search__people-block__input--small {
  width: 33.33333333%;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .form-search__people-block:nth-child(2) {
    margin-left: 0%;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .form-search__people-block:nth-child(2) {
    margin-left: 0%;
  }
}

@media (min-width: 1440px) {
  .form-search__people-block:nth-child(2) {
    margin-left: 0%;
  }
}

.form-search__people-block__header {
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-flex-basis: 87.5%;
  -ms-flex-preferred-size: 87.5%;
  flex-basis: 87.5%;
  max-width: 87.5%;
  margin-left: 12.5%;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .form-search__people-block__header {
    -webkit-flex-basis: 41.666667%;
    -ms-flex-preferred-size: 41.666667%;
    flex-basis: 41.666667%;
    max-width: 41.666667%;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .form-search__people-block__header {
    margin-left: 0%;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .form-search__people-block__header {
    -webkit-flex-basis: 37.500000%;
    -ms-flex-preferred-size: 37.500000%;
    flex-basis: 37.500000%;
    max-width: 37.500000%;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .form-search__people-block__header {
    margin-left: 0%;
  }
}

@media (min-width: 1440px) {
  .form-search__people-block__header {
    -webkit-flex-basis: 37.500000%;
    -ms-flex-preferred-size: 37.500000%;
    flex-basis: 37.500000%;
    max-width: 37.500000%;
  }
}

@media (min-width: 1440px) {
  .form-search__people-block__header {
    margin-left: 0%;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .form-search__people-block__header {
    position: relative;
    top: -5px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .form-search__people-block__header {
    position: relative;
    top: -5px;
  }
}

@media (min-width: 1440px) {
  .form-search__people-block__header {
    position: relative;
    top: -5px;
  }
}

.form-search__people-block__button-counter {
  padding: 14px 0;
  text-align: center;
  font-size: 20px;
  color: #a9a9a9;
  background: #f2f2f2;
  -webkit-flex-basis: 20.83333333%;
  -ms-flex-preferred-size: 20.83333333%;
  flex-basis: 20.83333333%;
  max-width: 20.83333333%;
  margin-left: 8.33333333%;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .form-search__people-block__button-counter {
    -webkit-flex-basis: 16.666667%;
    -ms-flex-preferred-size: 16.666667%;
    flex-basis: 16.666667%;
    max-width: 16.666667%;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .form-search__people-block__button-counter {
    margin-left: 0%;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .form-search__people-block__button-counter {
    -webkit-flex-basis: 16.666667%;
    -ms-flex-preferred-size: 16.666667%;
    flex-basis: 16.666667%;
    max-width: 16.666667%;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .form-search__people-block__button-counter {
    margin-left: 0%;
  }
}

@media (min-width: 1440px) {
  .form-search__people-block__button-counter {
    -webkit-flex-basis: 16.666667%;
    -ms-flex-preferred-size: 16.666667%;
    flex-basis: 16.666667%;
    max-width: 16.666667%;
  }
}

@media (min-width: 1440px) {
  .form-search__people-block__button-counter {
    margin-left: 0%;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .form-search__people-block__button-counter {
    width: 60px;
    height: 43px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .form-search__people-block__button-counter {
    width: 60px;
    height: 43px;
  }
}

@media (min-width: 1440px) {
  .form-search__people-block__button-counter {
    width: 60px;
    height: 43px;
  }
}

.form-search__people-block__button-counter:nth-child(4) {
  margin-left: 0%;
}

.form-search__people-block__input--small {
  width: 33.33333333%;
  padding: 14px 0;
  background: #f2f2f2;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border: 0;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .form-search__people-block__input--small {
    width: 10%;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .form-search__people-block__input--small {
    width: 12.5%;
  }
}

@media (min-width: 1440px) {
  .form-search__people-block__input--small {
    width: 12.5%;
  }
}

.form-search__submit {
  margin: 50px 0;
  width: 91.66666667%;
  padding: 20px 0;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 21px;
  border: 0;
  background: #81b3d2;
  margin-left: 4.16666667%;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .form-search__submit {
    margin-left: 0%;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .form-search__submit {
    margin-left: 0%;
  }
}

@media (min-width: 1440px) {
  .form-search__submit {
    margin-left: 0%;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .form-search__submit {
    margin-left: 7px;
    width: 485px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .form-search__submit {
    margin-left: 7px;
    width: 505px;
  }
}

@media (min-width: 1440px) {
  .form-search__submit {
    margin-left: 7px;
    width: 505px;
  }
}