.page__about {
  margin-top: 70px;
}

.page__about__header--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.page__about__header {
  width: 310px;

  font-size: $font-xs-medium;
  text-align: center;
  font-weight: bold;
  font-family: $font-bold;

  @include mq-sm {
    width: 600px;

    font-size: $font-sm-medium;
  };

  @include mq-md {
    width: 600px;

    font-size: $font-sm-medium;
  }

  @include mq-lg {
    width: 600px;

    font-size: $font-sm-medium;
  }
}

.page__about__text {
  margin-top: 43px;
  margin-bottom: 200px;

  width: 310px;

  font-size: $font-xs-small;
  text-align: center;
  font-family: $font-normal;

  @include mq-sm {
    margin-bottom: 56px;

    width: 600px;
  }

  @include mq-md {
    margin-bottom: 56px;

    width: 600px;
  }

  @include mq-lg {
    margin-bottom: 56px;

    width: 600px;
  }
}
