.page__features {
  @include mq-sm {
    display: flex;
    flex-wrap: wrap;
  }
}

.feature__block {
  padding: 1px;

  background: $blue;

  @include col-sm-8;

  @include mq-sm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    min-height: 272px;
  }
}

.feature__block__header {
  margin-top: 60px;

  text-align: center;
  font-size: $font-xs-big;
  font-family: $font-bold;
  font-weight: bold;
  color: white;

  @include mq-sm {
    width: 172px;

    text-align: center;
  }
}

.feature__block__number {
  margin-top: 20px;

  text-align: center;
  font-size: $font-xs-big;
  font-family: $font-normal;
  color: white;

  @include col-sm-24;
}

.feature__block__text {
  margin-top: 25px;
  margin-bottom: 45px;

  width: 330px;

  text-align: center;
  font-size: $font-xs-big;
  font-family: $font-normal;
  color: white;

  @include mq-sm {
    width: 190px;

    font-size: $font-sm-xsmall;
  }
}

.feature__block--blue {
  background: $blue;
}

.feature__block--gray {
  background: $gray;
  & div {
    color: black;
  }
}

.feature-blue--first {
  @include mq-xs {
    margin-top: -145px;
  }

  @include mq-sm {
    align-self: flex-end;
  }
}

.feature__block--reverse {
  @include mq-sm {
    display: flex;
    flex-direction: row-reverse;

    & > .feature__block {
      @include col-sm-8;
    }

    & > .feature-photo {
      @include col-sm-16;
    }
  }
}

.feature-photo {
  @include col-sm-16;

  @include mq-sm {
    height: 272px;

    overflow: hidden;
  }
}

.feature-photo__photo {
  height: auto;

  @include col-xs-24;

  @include mq-sm {
    min-height: 272px;
  }
}

.feature-description {
  position: relative;
  margin-top: 45px;

  @include col-xs-20;
  @include col-xs-offset-4;

  @include col-sm-3;
  @include col-sm-offset-4;

  @include mq-sm {
    text-align: center;
    width: 50px;
  }
}

.feature-description--hotel::after {
  position: absolute;
  top: -10px;
  left: -50px;

  width: 38px;
  height: 36px;

  background: url(../../img/icon-house.svg) no-repeat center center;
  background-size: contain;

  content: "";
}

.feature-description--souvenir::after {
  position: absolute;
  top: -10px;
  left: -50px;

  width: 38px;
  height: 36px;

  background: url(../../img/icon-gift.svg) no-repeat center center;
  background-size: contain;

  content: "";
}

.feature-description--food::after {
  position: absolute;
  top: -10px;
  left: -50px;

  width: 38px;
  height: 36px;

  background: url(../../img/icon-burger.png) no-repeat center center;
  background-size: contain;

  content: "";
}

.feature-description__header {
  font-size: $font-xs-medium;
  font-weight: bold;
  font-family: $font-bold;
}

.feature-description__text {
  margin-top: 27px;
  margin-bottom: 35px;

  width: 250px;

  font-size: $font-xs-small;
  font-family: $font-normal;
}

.feature-gray__separator {
  position: relative;

  @include hidden-sm;
}

.feature-gray__separator::after {
  position: absolute;
  left: 10%;

  width: 80%;
  height: 2px;

  background: #d6d6d6;

  content: "";
}
