.page__footer {
  position: relative;
  margin-top: 34px;
}

.footer__interested__header {
  font-size: $font-xs-big;
  font-weight: bold;
  text-align: center;
  font-family: $font-bold;

  @include mq-sm {
    font-size: $font-sm-big;
  }

  @include mq-md {
    font-size: $font-sm-big;
  }

  @include mq-lg {
    font-size: $font-sm-big;
  }
}

.footer__interested__text {
  margin-top: 32px;

  width: 290px;

  text-align: center;
  font-family: $font-normal;

  @include mq-sm {
    width: 450px;

    font-size: $font-sm-xsmall;
  }

  @include mq-md {
    width: 450px;

    font-size: $font-sm-xsmall;
  }

  @include mq-lg {
    width: 450px;

    font-size: $font-sm-xsmall;
  }
}

.footer__map {
  height: 600px;

  @include col-xs-24;

  @include mq-sm {
    height: 800px;
  }

  @include mq-md {
    height: 800px;
  }

  @include mq-lg {
    height: 800px;
  }
}

.footer__about {
  position: absolute;
  bottom: 0px;
  flex-wrap: wrap;

  background: rgba(255, 255, 255, 0.8);

  @include mq-xs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  @include mq-sm {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
  }

  @include mq-md {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
  }

  @include mq-lg {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
  }
}

.footer__about__hashtag {
  margin-top: 32px;

  text-align: center;
  font-size: $font-xs-big;
  font-weight: bold;
  font-family: $font-bold;

  @include col-xs-24;
  @include col-sm-8;
  @include col-md-8;
  @include col-lg-8;

  @include mq-sm {
    position: relative;
    top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  @include mq-md {
    position: relative;
    top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  @include mq-lg {
    position: relative;
    top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.footer__about__social {
  display: flex;

  @include col-sm-8;
  @include col-md-8;
  @include col-lg-8;

  @include mq-sm {
    flex-direction: row;
    justify-content: center;
  }

  @include mq-md {
    flex-direction: row;
    justify-content: center;
  }

  @include mq-lg {
    flex-direction: row;
    justify-content: center;
  }
}

.footer__about__social__button {
  margin-top: 43px;
  margin-left: 6px;

  padding: 45px;

  @include mq-sm {
    padding: 30px;
  }

  @include mq-md {
    padding: 30px;
  }

  @include mq-lg {
    padding: 30px;
  }
}

.footer__madeby-wrapper {
  margin-top: 52px;
  margin-bottom: 35px;

  @include col-xs-23;
  @include col-xs-offset-1;
  @include col-sm-8;
  @include col-sm-offset-0;
  @include col-md-8;
  @include col-md-offset-0;
  @include col-lg-8;
  @include col-lg-offset-0;

  @include mq-xs {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  @include mq-sm {
    position: relative;
    top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  @include mq-md {
    position: relative;
    top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  @include mq-lg {
    position: relative;
    top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.footer__about__madeby {
  font-size: $font-xs-big;
  font-family: $font-normal;

  & img {
    margin: -14px 14px;

    width: 36px;
    height: auto;

    @include mq-sm {
      margin: -14px 5px;
    }

    @include mq-md {
      margin: -14px 5px;
    }

    @include mq-lg {
      margin: -14px 5px;
    }
  }

  @include mq-sm {
    font-size: $font-sm-xsmall;
  }

  @include mq-md {
    font-size: $font-sm-xsmall;
  }

  @include mq-lg {
    font-size: $font-sm-xsmall;
  }
}

.social__twitter {
  background: url(../../img/icon-twitter.svg) no-repeat center center, $blue;
  background-size: 40px;
}

.social__facebook {
  background: url(../../img/icon-facebook.svg) no-repeat center center, $blue;
  background-size: 15px;
}

.social__youtube {
  background: url(../../img/icon-youtube.svg) no-repeat center center, $blue;
  background-size: 40px;
}
