.page__footer {
  position: relative;
  margin-top: 34px;
}

.footer__interested__header {
  font-size: $font-xs-big;
  font-weight: bold;
  text-align: center;
  font-family: $font-bold;
}

.footer__interested__text {
  margin-top: 32px;

  width: 290px;

  text-align: center;
  font-family: $font-normal;
}

.footer__map {
  height: 600px;

  @include col-xs-24;
}

.footer__about {
  position: absolute;
  bottom: 0px;
  flex-wrap: wrap;

  background: rgba(255, 255, 255, 0.8);
}

.footer__about__hashtag {
  margin-top: 32px;

  text-align: center;
  font-size: $font-xs-big;
  font-weight: bold;
  font-family: $font-bold;

  @include col-xs-24;
}

.footer__about__social {
  display: flex;
}

.footer__about__social__button {
  margin-top: 43px;
  margin-left: 6px;

  padding: 45px;
}

.footer__madeby-wrapper {
  margin-top: 52px;
  margin-bottom: 35px;

  @include col-xs-23;
  @include col-xs-offset-1;
}

.footer__about__madeby {
  font-size: $font-xs-big;
  font-family: $font-normal;

  & img {
    margin: -14px 14px;

    width: 36px;
    height: auto;
  }
}

.social__twitter {
  background: url(../../img/icon-twitter.svg) no-repeat center center, $blue;
  background-size: 40px;
}

.social__facebook {
  background: url(../../img/icon-facebook.svg) no-repeat center center, $blue;
  background-size: 15px;
}

.social__youtube {
  background: url(../../img/icon-youtube.svg) no-repeat center center, $blue;
  background-size: 40px;
}
